<h1>{{title}}</h1>

<div class="success" *ngIf="status == 'success'">
    <p>El proyecto se ha creado correctamente, puedes verlo <a [routerLink]="['/proyecto',save_project._id]">aquí</a>.</p>
</div>

<div class="failed" *ngIf="status == 'failed'">
    <p>El proyecto no se ha podido crear.</p>
</div>

<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <p>
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" #name="ngModel" [(ngModel)]="project.name" required>
        <span *ngIf="name.touched && !name.valid">
            El nombre es obligatorio
        </span>
    </p>
    <p>
        <label for="description">Descripción</label>
        <textarea name="description" id="description" cols="30" rows="10" #description="ngModel" [(ngModel)]="project.description" required></textarea>
        <span *ngIf="description.touched && !description.valid">
            La descripción es obligatoria
        </span>
    </p>
    <p>
        <label for="category">Categoría</label>
        <input type="text" name="category" id="category" #category="ngModel" [(ngModel)]="project.category" required>
        <span *ngIf="category.touched && !category.valid">
            La categoría es obligatoria
        </span>
    </p>
    <p>
        <label for="year">Año</label>
        <input type="number" name="year" id="year" #year="ngModel" [(ngModel)]="project.year" required>
        <span *ngIf="year.touched && !year.valid">
            El año es obligatorio
        </span>
    </p>
    <p>
        <label for="langs">Lenguajes</label>
        <input type="text" name="langs" id="langs" #langs="ngModel" [(ngModel)]="project.langs" required>
        <span *ngIf="langs.touched && !langs.valid">
            Los lenguajes son obligatorios
        </span>
    </p>
    <div>
        <img src="{{url+'get-image/'+project.image}}" alt="{{project.description}}">
    </div>
    <p>
        <label for="image">Imagen</label>
        <input type="file" name="image" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
    </p>
    <p>
        <input type="submit" value="Crear proyecto" [disabled]="!projectForm.form.valid">
    </p>
</form>